body{
    /* background-image: url(pic/background.jpg); */
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman';
}
.background-container {
    background-image: url(pic/background.jpg);
    background-position-x: left;
}
header{
    margin-top: 0px;
    height:10vh;
    background-color: rgb(233, 234, 238);
    padding: 20px;
    font-size: 25px;
}
footer{
    background-color: rgb(0, 0, 3);
    color: bisque;
    height: 40vh;
    margin-bottom: 0px;
    padding: 20px;
}
.headbutton{
    margin: 0.5vw;
    padding: 0px;
    width: 10vw;
    height:4vh
}  

.hbutton{
    display: flex;
    justify-content: right;
    padding-right:5.2vw ;
    align-items: center;
}
/*  index file css */
.index_main_container{
    background: linear-gradient(rgb(2, 2, 83),rgba(56, 3, 56, 0.5));
    min-height: 65vh;

}
.index_container{
    display: flex;
    justify-content: center;
    align-items:center;
    color:rgb(252, 240, 241);
    font-size: 19px;
    
}

.index_input{
    
    color:rgb(14, 12, 12);
    margin-top: 5;
    margin-bottom: 5px;
    margin-left: 50px;

}
p{
    margin: 0px;
    
}
#index_login, #index_register{
    width: 75px;
    height:25px;
    margin: 5px 0px 15px 250px;
}
#head{
    color: azure;
    margin: 0px 50vw 30px 50vw;
    padding-top: 15vh;
}

/* register page css */
.reg_container{
    display: flex;
    justify-content: center;
    align-items:center;
    color:rgb(252, 240, 241);
    font-size: 19px;
    background: linear-gradient(rgb(2, 2, 83),rgba(56, 3, 56,0.5));   
}

.reg_input{   
    color:rgb(14, 12, 12);
    margin:0px 0px 2% 0%
}

#reg_register{
    margin-left: 80%;
    margin-top: 0vh;
    margin-bottom: 5vh;
    width: 20%;
    height:10%;
}

#reg_head{
    margin:0px 0px 0px 35%;
    width:30%
}

#reg_form{
    padding:2%;
   
}
/* login page */
.lp_main-conatainer{
    background: linear-gradient(rgb(2, 2, 83),rgba(56, 3, 56,0.5));
    min-height: 100vh;
} 

.lp_container{
    display: flex;
    justify-content: center;
    padding: 10px;  
}

.imgbox{
        margin: 1vw;
        width:20vw;
}
img{
    width:20vw;
    height:20vw
}
.lp_button{
    width: 40%;
}
p{
    color: rgb(120, 230, 230) ;
}
.searchbar{
    display: flex;
    justify-content: right;
    align-items: center;
    height:15vh;
    padding-right:6.5vw ;
    padding-top: 10px;   
}
.lp_input{
    margin: 0px;
    width:30vw;
    height:5vh;
    font-family: 'Times New Roman';
    font-size: 20px;
}
#lp_submit{
    width:10vw;
    height:6vh
}
/* forgptten page */
.fogot_main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    min-height: 70vh;
    background: linear-gradient(rgb(2, 2, 83),rgba(56, 3, 56, 0.5));
}
#forgot_page{
    width:25vw;
    padding: 10vh 20vh;
    min-height:100%;
    font-family: 'Times New Roman';
    font-size:17px ;
    color:azure;   
}
.forgot_input{
    width: 80%;
    height: 3vh;
    margin: 1vh 0vh 1vh 0vh;   
}
#submit{
    width:82%;
    height:4vh;
    background:rgb(13, 194, 73)
}
/* success */
.success_cont{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    color:rgb(252, 240, 241);
    font-size: 19px;
    min-height: 70vh;
    background: linear-gradient(rgb(2, 2, 83),rgba(56, 3, 56,0.5));  
}

form{
    font-size: 20px;
    font-family: 'Times New Roman';
}
